In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
movies = pd.read_csv('c:/Users/DELL/Downloads/archive (12).zip')

In [3]:
movies.head(1)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862

In [ ]:
movies = movies[['id', 'title', 'overview', 'genre']]

In [5]:
movies.head(1)

,id,title,overview,genre
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama,Crime"

In [6]:
movies.isnull().sum()

id           0
title        0
overview    13
genre        3
dtype: int64

In [7]:
movies.dropna(inplace=True)

In [8]:
movies['tags']=movies['overview']+movies['genre']

In [9]:
movies['tags']

0       Framed in the 1940s for the double murder of h...
1       Raj is a rich, carefree, happy-go-lucky second...
2       Spanning the years 1945 to 1955, a chronicle o...
3       The true story of how businessman Oskar Schind...
4       In the continuing saga of the Corleone crime f...
                              ...
9995    The story follows the adventures of Aang, a yo...
9996    The sharks take bite out of the East Coast whe...
9997    During World War II, a brave, patriotic Americ...
9998    A man named Farmer sets out to rescue his kidn...
9999    Seeking justice for his partnerâ€™s murder by an...
Name: tags, Length: 9985, dtype: object

In [10]:
movies = movies[['id', 'title',  'tags']]

In [11]:
movies.head()

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['tags'])

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [14]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = movies[movies['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]  # Get top 10 similar movies
    movie_indices = [i[0] for i in sim_scores]
    return movies['title'].iloc[movie_indices]

In [15]:
print(get_recommendations('The Godfather'))

4        The Godfather: Part II
1611    The Godfather: Part III
7419                 Blood Ties
9362                 Proud Mary
214           The Best of Youth
4446              Four Brothers
5361                        Joe
5517                     Xtreme
9245                    Rampart
330                        Rope
Name: title, dtype: object

In [16]:
import pickle
with open('movie_data.pkl', 'wb') as file:
    pickle.dump((movies, cosine_sim), file)